In [1]:
import numpy as np
import pandas as pd
import Deposit_Cumulation_Functions as DC

In [2]:
# 银行利率（%）
Y1 = 1.5
Y2 = 2.1
Y3 = 2.75
Y5 = 2.75

### 消费型保险、储蓄型保险都有采用这种缴费保障方式，这种方式常见的险种主要是意外险、疾病险

#### 每年存入固定金额保费（Money），共存N年（HowManyYears），保障M年（HowManyYears+AgainYears）
* DepositCumulationMoneyEveryYears(Y5,Y3,Y2,Y1,Money,HowManyYears)
* DepositCumulationMoneyAgainYears(Y5,Y3,Y2,Y1,Money,MoneyAgainYears,HowManyYears,AgainYears)

### 平安保险-平安倍保如意意外保险（2008）
* 每月缴纳257元（每年3084元，按年计算），交费10年，保障15年，到期生存则返还所有保费30840元；意外保障15万元，公交保障30万元。

In [3]:
DC.DepositCumulationMoneyEveryYears(Y5,Y3,Y2,Y1,3084,10)

   存入次数 存入年限(年) 累积存入本金(元)  每笔利率(%)   每笔利息(元)    每笔本息(元)
0     1      10      3084  1.29391   906.407   3990.407
1     2       9      6168  1.24981   770.426   3854.426
2     3       8      9252  1.23134   713.464   3797.464
3     4       7     12336  1.18528   571.388   3655.388
4     5       6     15420  1.15456   476.671   3560.671
5     6       5     18504   1.1375   424.050   3508.050
6     7       4     21588  1.09874   304.506   3388.506
7     8       3     24672   1.0825   254.430   3338.430
8     9       2     27756    1.042   129.528   3213.528
9    10       1     30840    1.015    46.260   3130.260
合计                                  4597.130  35437.130

In [4]:
DC.DepositCumulationMoneyAgainYears(Y5,Y3,Y2,Y1,3084,35437.130,10,5)

,存款金额(元),存款年限(年),总年单利(%),总年复利(%),总期复利(%),利息(元),本息(元),总利息,平均年利息
0,35437.13,5,1.138,1.145,1.138,4872.605,40309.735,9469.735,631.316

In [5]:
ruyi2008 = pd.DataFrame()
ruyi2008[u'险种'] = [u'平安倍保如意2008：综合意外',u'平安倍保如意2008：公交意外']
ruyi2008[u'保额'] = [150000,300000]
ruyi2008[u'保费'] = [3084,3084]
ruyi2008[u'评价参数A'] = ruyi2008[u'保额']/ruyi2008[u'保费']
ruyi2008[u'评价参数B'] = ruyi2008[u'保额']/631.316
ruyi2008

                险种      保额    保费      评价参数A       评价参数B
0  平安倍保如意2008：综合意外  150000  3084  48.638132  237.598920
1  平安倍保如意2008：公交意外  300000  3084  97.276265  475.197841

### 平安保险-平安倍保如意意外保险（2010）
* 每月缴纳195元（每年2340元，按年计算），交费8年，保障15年，到期生存则返还所有保费18720元；意外保障10万元，公交保障20万元。

In [6]:
DC.DepositCumulationMoneyEveryYears(Y5,Y3,Y2,Y1,2340,8)

   存入次数 存入年限(年) 累积存入本金(元)  每笔利率(%)   每笔利息(元)    每笔本息(元)
0     1       8      2340  1.23134   541.344   2881.344
1     2       7      4680  1.18528   433.544   2773.544
2     3       6      7020  1.15456   361.676   2701.676
3     4       5      9360   1.1375   321.750   2661.750
4     5       4     11700  1.09874   231.046   2571.046
5     6       3     14040   1.0825   193.050   2533.050
6     7       2     16380    1.042    98.280   2438.280
7     8       1     18720    1.015    35.100   2375.100
合计                                  2215.790  20935.790

In [7]:
DC.DepositCumulationMoneyAgainYears(Y5,Y3,Y2,Y1,2340,20935.790,8,7)

,存款金额(元),存款年限(年),总年单利(%),总年复利(%),总期复利(%),利息(元),本息(元),总利息,平均年利息
0,20935.79,7,1.18,1.145,1.185,3878.878,24814.668,6094.668,406.311

In [8]:
ruyi2010 = pd.DataFrame()
ruyi2010[u'险种'] = [u'平安倍保如意2010：综合意外',u'平安倍保如意2010：公交意外']
ruyi2010[u'保额'] = [100000,200000]
ruyi2010[u'保费'] = [2340,2340]
ruyi2010[u'评价参数A'] = ruyi2010[u'保额']/ruyi2010[u'保费']
ruyi2010[u'评价参数B'] = ruyi2010[u'保额']/406.311
ruyi2010

                险种      保额    保费      评价参数A       评价参数B
0  平安倍保如意2010：综合意外  100000  2340  42.735043  246.116891
1  平安倍保如意2010：公交意外  200000  2340  85.470085  492.233782

### 中国太平洋-利赢年年年金保险（分红型）【年金型保险】
* 每年缴费5万元，共交5年，合计25万元；
* 基本保险金额：1797×5=8985元；
* 每年返还祝福金（年金）：8985×40%=3594元；
* 70周岁返还祝寿金为25万元；

In [9]:
DC.DepositCumulationMoneyEveryYears(Y5,Y3,Y2,Y1,50000,5)

   存入次数 存入年限(年) 累积存入本金(元)  每笔利率(%)    每笔利息(元)     每笔本息(元)
0     1       5     50000   1.1375   6875.000   56875.000
1     2       4    100000  1.09874   4936.875   54936.875
2     3       3    150000   1.0825   4125.000   54125.000
3     4       2    200000    1.042   2100.000   52100.000
4     5       1    250000    1.015    750.000   50750.000
合计                                  18786.875  268786.875

In [10]:
DC.DepositCumulationMoneyAgainYears(Y5,Y3,Y2,Y1,50000,268786.875,5,38)

,存款金额(元),存款年限(年),总年单利(%),总年复利(%),总期复利(%),利息(元),本息(元),总利息,平均年利息
0,268786.875,38,2.045,2.804,2.667,448174.568,716961.443,466961.443,10859.568

In [11]:
# 祝福金存入万能险账户的收益
DC.DepositCumulationMoneyEveryYears(Y5,Y3,Y2,Y1,3594,43).tail()

   存入次数 存入年限(年) 累积存入本金(元)  每笔利率(%)     每笔利息(元)     每笔本息(元)
39   40       4    143760  1.09874     354.863    3948.863
40   41       3    147354   1.0825     296.505    3890.505
41   42       2    150948    1.042     150.948    3744.948
42   43       1    154542    1.015      53.910    3647.910
合计                                  130416.796  284958.796

In [12]:
# 分红存入万能险账户的收益
DC.DepositCumulationMoneyEveryYears(Y5,Y3,Y2,Y1,776.6,42).tail()

   存入次数 存入年限(年) 累积存入本金(元)  每笔利率(%)    每笔利息(元)    每笔本息(元)
38   39       4   30287.4  1.09874     76.680    853.280
39   40       3     31064   1.0825     64.070    840.670
40   41       2   31840.6    1.042     32.617    809.217
41   42       1   32617.2    1.015     11.649    788.249
合计                                  26601.037  59218.237

### 平安保险-一年期个人交通意外伤害保险
* 每年缴费28元，消费型保险，缴费1年保障1年；
* 火车意外伤害身故和残疾（含地铁、轻轨）100万元；汽车意外伤害身故和残疾（含出租车）30万元。

In [13]:
gongjiao28 = pd.DataFrame()
gongjiao28[u'险种'] = [u'平安火车地铁意外身故和残疾',u'平安公车出租车意外身故和残疾']
gongjiao28[u'保额'] = [1000000,300000]
gongjiao28[u'保费'] = [21.54,6.46]
gongjiao28[u'评价参数A'] = gongjiao28[u'保额']/gongjiao28[u'保费']
gongjiao28[u'评价参数B'] = ''
gongjiao28

               险种       保额     保费         评价参数A 评价参数B
0   平安火车地铁意外身故和残疾  1000000  21.54  46425.255339
1  平安公车出租车意外身故和残疾   300000   6.46  46439.628483

### 平安保险-非机动车综合保障
* 每年缴费19.9元，消费型保险，缴费1年保障1年；
* 电瓶车、自行车驾驶人意外身故残疾：2万元；
* 电瓶车、自行车驾驶人意外医疗：4000元；
* 电瓶车、自行车第三者意外身故残疾：2万元；
* 电瓶车、自行车第三者意外伤害：4000元。

In [14]:
feijdc = pd.DataFrame()
feijdc[u'险种'] = [u'平安非机动车意外险2015',u'平安非机动车意外险2017']
feijdc[u'保额'] = [44000,104000]
feijdc[u'保费'] = [19.9,29.9]
feijdc[u'评价参数A'] = feijdc[u'保额']/feijdc[u'保费']
feijdc[u'评价参数B'] = ''
feijdc

              险种      保额    保费        评价参数A 评价参数B
0  平安非机动车意外险2015   44000  19.9  2211.055276
1  平安非机动车意外险2017  104000  29.9  3478.260870

## 保险分析参数统计表

In [15]:
insurance_analyse = pd.concat([ruyi2008.T, ruyi2010.T,gongjiao28.T,feijdc.T], axis=1).T

In [16]:
insurance_analyse.reset_index(drop=True)

                险种       保额     保费    评价参数A    评价参数B
0  平安倍保如意2008：综合意外   150000   3084  48.6381  237.599
1  平安倍保如意2008：公交意外   300000   3084  97.2763  475.198
2  平安倍保如意2010：综合意外   100000   2340   42.735  246.117
3  平安倍保如意2010：公交意外   200000   2340  85.4701  492.234
4    平安火车地铁意外身故和残疾  1000000  21.54  46425.3
5   平安公车出租车意外身故和残疾   300000   6.46  46439.6
6    平安非机动车意外险2015    44000   19.9  2211.06
7    平安非机动车意外险2017   104000   29.9  3478.26